
main {
    margin: 0px 50px 0px 50px;
}



mark {
    text-decoration:underline;
    padding: 10px;
    border: 2px dashed red  ;
    border-top: 2px dotted red;
    border-bottom: 2px dotted red;
    background: linear-gradient(to right,red, yellow);
    background: linear-gradient(to right, rgb(255, 81, 0) 0%, orange 25%, yellow 50%, orange 75%, rgb(255, 81, 0) 100%);
    border-radius: 10px;
    text-shadow: 0px 0px 10px blue;
    color:white;
}

#pakot_internetit {
    display:grid;
    grid-template-columns:  repeat(3,30%);
    grid-auto-rows: 30%;
    grid-auto-rows: auto;
    grid-column-gap: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

.foto_pakoje {
    width:50%;
    height:auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px #ccc;
}

#grid-title {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    line-height:40px;
    padding-top: 40px;
}

main>h1,h2,h3,h4,h5,h6,p {
    font-family: "Montserrat";
}

.pako {
    border: 1px solid #ccc;
    border-radius: 20px;
    width:fit-content;
    height:100%;
    overflow-wrap: break-word;
    font-family: Arial !important;
}

#pakot_televizioni {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.pako.televizioni {
    height: auto;
}

#titulli {
    text-align: center;
    color:black;
    padding: 40px 0px 20px 0px
}

dd {
    display: block;
    width: 50%;
    text-align: justify;
    margin-bottom: 20px;
}

main {
    font: 1em sans-serif;
}

